{% extends "base.html" %}
{% load static %}

{% block title %}All the Products - Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="space-y-8">

      <h2 class="text-4xl">Hi {{ user.username }}!</h2>
      <p>Maybe one day you'll see a glorious home page here.</p>
      <p>But for now just notice that List and Create are in Nav bar.</p>
    </div>

  {% else %}

    <div class="">
      <div class="hero-content flex bg-red-300 p-4 space-x-4">
        {#  Thanks to https://unsplash.com/photos/Kw_zQBAChws?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink#}
        <img src="{% static 'ashim-d-silva-Products.jpg' %}" class="max-w-sm rounded-lg shadow-2xl"/>
        <div class="bg-green-300 p-4">
          <h1 class="text-5xl font-bold">Products</h1>
          <p class="text-2xl p-6">Almanac, binder, cucumber, drill, envelope, friend, grill, hay, jam, koala, lanyard, mousetrap, necklace, oil, printer, quill, restroom, saline, treasure, wings, xylophone, zebra, and more!</p>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
